footer
    .direction
        padding: 70px 0
        color: rgba(255,255,255,1)
        background-color: rgba(60,64,69,1)
        .title
            margin: 0 0 70px 0
            font-size: 32px
            font-weight: 300
            line-height: 32px
            text-align: center
        .street, phone, email
            margin: 0 0 10px
        .logo
            p
                font-size: 32px
                color: rgba(255,255,255,1)
    .social
        padding:  20px 0
        text-align: center
        a
            display: inline-block
            margin: 0 20px
            padding: 10px
            width: 50px
            font-size: 22px
            color: rgba(255,255,255,1)
            border-radius: 100px
            &:hover
                text-decoration: none
            &.facebook
                background-color: rgba(59,89,152,1)
            &.twitter
                background-color: rgba(85,172,238,1)
            &.youtube
                background-color: rgba(205,32,31,1)
