header
    background: rgba(21,101,192,1) url(../img/background.jpg) no-repeat center fixed
    background-size: cover
    .bar
        position: fixed
        width: 100%
        padding: 10px 20px 0
        background-color: $blue
        z-index: 10
        .logo
            img
                float: left
                width: 160px
                vertical-align: top
        .menu
            line-height: 50px
            text-align: right
            a
                margin: 0 0 0 60px
                font-size: 18px
                color: rgba(255,255,255,1)
    .text
        text-align: center
        color: rgba(255,255,255,1)
        margin: 200px 0
        .first_line, .second_line
            font-family: "Open Sans"
            font-weight: 300
        .first_line
            margin: 0 0 30px 0
            font-size: 35px
            list-style: 35px
        .second_line
            margin: 0 0 60px 0
            font-size: 25px
            list-style: 25px
        .container_buttons
            a
                display: inline-block
                width: 240px
                margin: 0 10px
                padding: 12px 0
                font-weight: 600
                text-align: center
                text-decoration: none
                color: rgba(255,255,255,1)
                background-color: $pink
                border: 2px solid rgba(255,255,255,1)
                border-radius: 2px
                &:hover
                    background-color: $light_pink
    .up
        position: fixed
        bottom: 30px
        right: 30px
        background-color: rgba(0,0,0,0.7)
        border-radius: 100%
        z-index: 10
