@media screen and (max-width:992px)
	header
		.bar
			.logo
				text-align: center
			.menu
				display: none
				a
					margin: 0 20px
		.text
			margin: 150px 0
			font-size: 16px
			.first_line
				font-size: 1.5em
			.second_line
				font-size: 1.3em
			.container_buttons
				a
					margin-bottom: 10px

	.main
		.fotos
			.foto
				.title
					margin-top: 0
		.customers
			.customer
				margin-bottom: 40px

@media screen and (max-width:768px)
	.main
		.characteristics
			.characteristic
				margin-bottom: 40px
		.fotos
			.foto
				text-align: center
				.text
					*
						text-align: left
					p
						margin-bottom: 10px
		.prices
			.price
				margin-bottom: 20px

	footer
		.direction
			text-align: center
			.logo
				img
					margin-top: 20px
