.main
    .about
        padding: 70px 0
        .title
            margin: 0 0 70px 0
            font-family: "Open Sans"
            font-weight: 300
            font-size: 32px
            text-align: center
            color: $blue
        .about-text
            p
                text-align: center
                font-weight: 300
                font-size: 20px
                line-height: 28px
            img
                display: block
                margin: 40px auto 0
                vertical-align: top
    .characteristics
        padding: 0 0 70px 0
        .title
            margin: 0 0 70px 0
            font-family: "Open Sans"
            font-weight: 300
            font-size: 32px
            text-align: center
            color: $blue
        .characteristic
            text-align: center
            .icon
                margin: 0 0 30px 0
                vertical-align: top
            .first_line
                margin: 0 0 30px 0
                font-weight: 700
                font-size: 20px
            .paragraph
                margin: 0 0 30px 0
                line-height: 28px
    .fotos
        margin: 0 0 70px 0
        .foto
            margin: 0 0 20px 0
            .thumb
                img
                    width: 100%
                    border-radius: 2px
                    vertical-align: top
            .title
                margin: 70px 0 40px 0
                font-size: 32px
                font-weight: 300
                line-height: 32px
                color: $pink
            .paragraph
                text-align: justify
                line-height: 28px
            .p_right
                text-align: right
    .customers
        padding: 70px 0
        background-color: rgba(45,53,62,1)
        .title
            margin: 0 0 70px 0
            font-family: "Open Sans"
            font-weight: 300
            font-size: 32px
            text-align: center
            color: rgba(255,255,255,1)
        .customer
            text-align: center
            a
                display: block
    .prices
        padding: 70px 0
        background: rgba(1,152,81,1) url(../img/precios-bg.jpg) no-repeat center fixed
        background-size: cover
        .title
            margin: 0 0 70px 0
            font-family: "Open Sans"
            font-weight: 300
            font-size: 32px
            text-align: center
            color: rgba(255,255,255,1)
        .plan
            padding: 50px 0
            text-align: center
            font-family: "Open Sans"
            background-color: rgba(255,255,255,1)
            -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.35)
            box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.35)
            .name
                margin: 0 0 30px 0
                font-size: 32px
                font-weight: 300
                line-height: 32px
            .price
                margin: 0 0 30px 0
                font-size: 48px
                font-weight: 300
            .characteristics
                margin: 0 0 50px 0
                padding: 0 20px
                list-style: none
                li
                    padding: 15px 0
                    font-size: 18px
                    border-bottom: 1px solid rgba(117,117,117,1)
            .btn
                display: inline-block
                width: 70%
                padding: 15px 0
                font-size: 16px
                text-align: center
                border-radius: 100px
            &.p_green
                .name, .price
                    color: rgba(134,183,115,1)
                .btn
                    color: rgba(134,183,115,1)
                    border: 2px solid rgba(134,183,115,1)
                    &:hover
                        color: rgba(255,255,255,1)
                        background-color: rgba(134,183,115,1)
            &.active
                color: rgba(255,255,255,1)
                background-color: rgba(76,141,206,1)
                .btn
                    color: rgba(255,255,255,1)
                    border: 2ps solid rgba(255,255,255,1)
                    &:hover
                        color: rgba(76,141,206,1)
                        background-color: rgba(255,255,255,1)
            &.p_orange
                .name, .price
                    color: rgba(221,177,70,1)
                .btn
                    color: rgba(221,177,70,1)
                    border: 2px solid rgba(221,177,70,1)
                    &:hover
                        color: rgba(255,255,255,1)
                        background-color: rgba(221,177,70,1)
    .reviews
        padding: 70px 0
        .title
            margin: 0 0 70px 0
            font-family: "Open Sans"
            font-size: 32px
            font-weight: 300px
            text-align: center
            color: $pink
        .customer
            margin: 0 0 20px 0
            overflow: hidden
            .foto
                float: left
                width: 20%
                text-align: right
                img
                    max-width: 100px
                    width: 100%
                    vertical-align: top
                    border-radius: 100%
            .review
                float: left
                width: 80%
                margin: 20px 0 0 0
                padding: 0 30px
                .text
                    margin: 0 0 10px 0
                    font-size: 18px
                    line-height: 28px
                .name
                    font-size: 14px
                    color: rgba(221,177,70,1)
            &.c_right
                .foto
                    float: right
                    text-align: left
                .review
                    float: right
                    text-align: right
