* {
  margin: 0;
  padding: 0; }

body {
  font-family: "Open Sans", Arial, Sans-serif;
  font-size: 16px; }

header {
  background: #1565c0 url(../img/background.jpg) no-repeat center fixed;
  background-size: cover; }
  header .bar {
    position: fixed;
    width: 100%;
    padding: 10px 20px 0;
    background-color: #012e64;
    z-index: 10; }
    header .bar .logo img {
      float: left;
      width: 160px;
      vertical-align: top; }
    header .bar .menu {
      line-height: 50px;
      text-align: right; }
      header .bar .menu a {
        margin: 0 0 0 60px;
        font-size: 18px;
        color: white; }
  header .text {
    text-align: center;
    color: white;
    margin: 200px 0; }
    header .text .first_line, header .text .second_line {
      font-family: "Open Sans";
      font-weight: 300; }
    header .text .first_line {
      margin: 0 0 30px 0;
      font-size: 35px;
      list-style: 35px; }
    header .text .second_line {
      margin: 0 0 60px 0;
      font-size: 25px;
      list-style: 25px; }
    header .text .container_buttons a {
      display: inline-block;
      width: 240px;
      margin: 0 10px;
      padding: 12px 0;
      font-weight: 600;
      text-align: center;
      text-decoration: none;
      color: white;
      background-color: #da0080;
      border: 2px solid white;
      border-radius: 2px; }
      header .text .container_buttons a:hover {
        background-color: #ff4081; }
  header .up {
    position: fixed;
    bottom: 30px;
    right: 30px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 100%;
    z-index: 10; }

.main .about {
  padding: 70px 0; }
  .main .about .title {
    margin: 0 0 70px 0;
    font-family: "Open Sans";
    font-weight: 300;
    font-size: 32px;
    text-align: center;
    color: #012e64; }
  .main .about .about-text p {
    text-align: center;
    font-weight: 300;
    font-size: 20px;
    line-height: 28px; }
  .main .about .about-text img {
    display: block;
    margin: 40px auto 0;
    vertical-align: top; }
.main .characteristics {
  padding: 0 0 70px 0; }
  .main .characteristics .title {
    margin: 0 0 70px 0;
    font-family: "Open Sans";
    font-weight: 300;
    font-size: 32px;
    text-align: center;
    color: #012e64; }
  .main .characteristics .characteristic {
    text-align: center; }
    .main .characteristics .characteristic .icon {
      margin: 0 0 30px 0;
      vertical-align: top; }
    .main .characteristics .characteristic .first_line {
      margin: 0 0 30px 0;
      font-weight: 700;
      font-size: 20px; }
    .main .characteristics .characteristic .paragraph {
      margin: 0 0 30px 0;
      line-height: 28px; }
.main .fotos {
  margin: 0 0 70px 0; }
  .main .fotos .foto {
    margin: 0 0 20px 0; }
    .main .fotos .foto .thumb img {
      width: 100%;
      border-radius: 2px;
      vertical-align: top; }
    .main .fotos .foto .title {
      margin: 70px 0 40px 0;
      font-size: 32px;
      font-weight: 300;
      line-height: 32px;
      color: #da0080; }
    .main .fotos .foto .paragraph {
      text-align: justify;
      line-height: 28px; }
    .main .fotos .foto .p_right {
      text-align: right; }
.main .customers {
  padding: 70px 0;
  background-color: #2d353e; }
  .main .customers .title {
    margin: 0 0 70px 0;
    font-family: "Open Sans";
    font-weight: 300;
    font-size: 32px;
    text-align: center;
    color: white; }
  .main .customers .customer {
    text-align: center; }
    .main .customers .customer a {
      display: block; }
.main .prices {
  padding: 70px 0;
  background: #019851 url(../img/precios-bg.jpg) no-repeat center fixed;
  background-size: cover; }
  .main .prices .title {
    margin: 0 0 70px 0;
    font-family: "Open Sans";
    font-weight: 300;
    font-size: 32px;
    text-align: center;
    color: white; }
  .main .prices .plan {
    padding: 50px 0;
    text-align: center;
    font-family: "Open Sans";
    background-color: white;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.35);
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.35); }
    .main .prices .plan .name {
      margin: 0 0 30px 0;
      font-size: 32px;
      font-weight: 300;
      line-height: 32px; }
    .main .prices .plan .price {
      margin: 0 0 30px 0;
      font-size: 48px;
      font-weight: 300; }
    .main .prices .plan .characteristics {
      margin: 0 0 50px 0;
      padding: 0 20px;
      list-style: none; }
      .main .prices .plan .characteristics li {
        padding: 15px 0;
        font-size: 18px;
        border-bottom: 1px solid #757575; }
    .main .prices .plan .btn {
      display: inline-block;
      width: 70%;
      padding: 15px 0;
      font-size: 16px;
      text-align: center;
      border-radius: 100px; }
    .main .prices .plan.p_green .name, .main .prices .plan.p_green .price {
      color: #86b773; }
    .main .prices .plan.p_green .btn {
      color: #86b773;
      border: 2px solid #86b773; }
      .main .prices .plan.p_green .btn:hover {
        color: white;
        background-color: #86b773; }
    .main .prices .plan.active {
      color: white;
      background-color: #4c8dce; }
      .main .prices .plan.active .btn {
        color: white;
        border: 2ps solid white; }
        .main .prices .plan.active .btn:hover {
          color: #4c8dce;
          background-color: white; }
    .main .prices .plan.p_orange .name, .main .prices .plan.p_orange .price {
      color: #ddb146; }
    .main .prices .plan.p_orange .btn {
      color: #ddb146;
      border: 2px solid #ddb146; }
      .main .prices .plan.p_orange .btn:hover {
        color: white;
        background-color: #ddb146; }
.main .reviews {
  padding: 70px 0; }
  .main .reviews .title {
    margin: 0 0 70px 0;
    font-family: "Open Sans";
    font-size: 32px;
    font-weight: 300px;
    text-align: center;
    color: #da0080; }
  .main .reviews .customer {
    margin: 0 0 20px 0;
    overflow: hidden; }
    .main .reviews .customer .foto {
      float: left;
      width: 20%;
      text-align: right; }
      .main .reviews .customer .foto img {
        max-width: 100px;
        width: 100%;
        vertical-align: top;
        border-radius: 100%; }
    .main .reviews .customer .review {
      float: left;
      width: 80%;
      margin: 20px 0 0 0;
      padding: 0 30px; }
      .main .reviews .customer .review .text {
        margin: 0 0 10px 0;
        font-size: 18px;
        line-height: 28px; }
      .main .reviews .customer .review .name {
        font-size: 14px;
        color: #ddb146; }
    .main .reviews .customer.c_right .foto {
      float: right;
      text-align: left; }
    .main .reviews .customer.c_right .review {
      float: right;
      text-align: right; }

footer .direction {
  padding: 70px 0;
  color: white;
  background-color: #3c4045; }
  footer .direction .title {
    margin: 0 0 70px 0;
    font-size: 32px;
    font-weight: 300;
    line-height: 32px;
    text-align: center; }
  footer .direction .street, footer .direction phone, footer .direction email {
    margin: 0 0 10px; }
  footer .direction .logo p {
    font-size: 32px;
    color: white; }
footer .social {
  padding: 20px 0;
  text-align: center; }
  footer .social a {
    display: inline-block;
    margin: 0 20px;
    padding: 10px;
    width: 50px;
    font-size: 22px;
    color: white;
    border-radius: 100px; }
    footer .social a:hover {
      text-decoration: none; }
    footer .social a.facebook {
      background-color: #3b5998; }
    footer .social a.twitter {
      background-color: #55acee; }
    footer .social a.youtube {
      background-color: #cd201f; }

@media screen and (max-width: 992px) {
  header .bar .logo {
    text-align: center; }
  header .bar .menu {
    display: none; }
    header .bar .menu a {
      margin: 0 20px; }
  header .text {
    margin: 150px 0;
    font-size: 16px; }
    header .text .first_line {
      font-size: 1.5em; }
    header .text .second_line {
      font-size: 1.3em; }
    header .text .container_buttons a {
      margin-bottom: 10px; }

  .main .fotos .foto .title {
    margin-top: 0; }
  .main .customers .customer {
    margin-bottom: 40px; } }
@media screen and (max-width: 768px) {
  .main .characteristics .characteristic {
    margin-bottom: 40px; }
  .main .fotos .foto {
    text-align: center; }
    .main .fotos .foto .text * {
      text-align: left; }
    .main .fotos .foto .text p {
      margin-bottom: 10px; }
  .main .prices .price {
    margin-bottom: 20px; }

  footer .direction {
    text-align: center; }
    footer .direction .logo img {
      margin-top: 20px; } }

/*# sourceMappingURL=main.css.map */
